<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <title>Green Eco</title>
</head>

<body>
    <!-- sidebar-->
    <div class="sidebar">
        <h1 class="logo">Green Eco</h1>
        <div class="sidebar-menus">
            <a href="#"><ion-icon name="storefront-outline"></ion-icon>Home</a>
            <a href="#"><ion-icon name="receipt-outline"></ion-icon>Bills</a>
            <a href="#"><ion-icon name="wallet-outline"></ion-icon>Wallet</a>
            <a href="#"><ion-icon name="notifications-outline"></ion-icon>Notifications</a>
            <a href="#"><ion-icon name="chatbubbles-outline"></ion-icon>Contact us</a>
            <a href="#"><ion-icon name="settings-outline"></ion-icon>Settings</a>
        </div>

        <div class="sidebar-logout">
            <a href="#"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        </div>
    </div>

    <!-- main section -->
    <div class="main">

        <!-- main navbar-->
        <div class="main-navbar">

            <!-- main appears in mob ver-->
            <ion-icon class="menu-toggle" name="menu-outline"></ion-icon>

            <!-- Search bar -->
            <div class="search">
                <input type="text" placeholder="Type of food ?">
                <button class="search-btn">Search</button>
            </div>

            <!-- profile icon-->
            <div class="profile">
                <a class="cart" href="#"><ion-icon name="cart-outline"></ion-icon></a>
                <a class="cart" href="#"><ion-icon name="person-outline"></ion-icon></a>
            </div>

        </div>
    </div>

</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>